/*Обнуление*/

* {
    padding: 0;
    margin: 0;
    border: 0;
}

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus, :active {
    outline: none;
}

a:focus, a:active {
    outline: none;
}

nav, footer, header, aside {
    display: block;
}

html, body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input, button, textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a, a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: 400;
}

/*---------Шрифты-----------*/

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/Roboto-Light-300.ttf');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/Roboto-Regular-400.ttf');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/Roboto-Medium-500.ttf');
}

@font-face {
    font-family: 'MADE Evolve Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/MADE-Evolve-Sans-Regular.otf');
}

@font-face {
    font-family: 'MADE Evolve Sans';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/MADE-Evolve-Sans-Medium.ttf');
}

@font-face {
    font-family: 'MADE Evolve Sans';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/MADE-Evolve-Sans-Light-300.ttf');
}

/*________wrapper_______*/

.wrapper {
    max-width: 1920px;
    margin: 0 auto;
    position: relative;
}

/*________menu_______*/

.nav-menu-1 {
    position: fixed;
    top: 300px;
    left: 0px;
    z-index: 10;
}

.menu-link {
    position: relative;
}

.menu-link::before {
    content: '';
    position: absolute;
    width: 2px;
    height: 2px;
    background: rgba(26, 26, 26, 0.5);
    border-radius: 10px;
    bottom: 0px;
}

.menu-1 li {
    padding: 20px 0 20px 0;
}

.menu-1>li>a {
    font-family: 'MADE Evolve Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    color: rgba(26, 26, 26, 0.75);
}

.menu-1>li>a:hover {
    color: #FF5641;
}

.menu-1 .active-1 a {
    color: #FF5641;
}

/*________header_______*/

.header {
    background: url(../img/background/ofice_1.png) top/cover no-repeat fixed;
    min-height: 899px;
    position: relative;
}

.header::before {
    content: url(../img/icon/svg/scrolling-head.svg);
    position: absolute;
    bottom: 30px;
    left: 50%;
}

.header a {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #1A1A1A;
}

.heder-link__flex-1 {
    width: 87px;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.link-1 {
    background: url(../img/icon/svg/head_vk.svg) no-repeat;
    width: 20px;
    height: 11px;
    display: block;
}

.link-2 {
    background: url(../img/icon/svg/head_f.svg) no-repeat;
    width: 9px;
    height: 18px;
    display: block;
}

.link-3 {
    background: url(../img/icon/svg/head_inst.svg) no-repeat;
    width: 20px;
    height: 18px;
    display: block;
}

.tel {
    position: relative;
}

.tel::before {
    content: url(../img/icon/svg/head_tel.svg);
    position: absolute;
    left: -20px;
}

.mail {
    position: relative;
}

.mail::before {
    content: url(../img/icon/svg/head_mail.svg);
    position: absolute;
    left: -20px;
}

.header-centre {
    padding-top: 255px;
}

.heder-link__flex-2 {
    display: flex;
    align-items: center;
    justify-content: end;
}

.header-logo img {
    width: 100%;
}

.header-text {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 23px;
    line-height: 38px;
    text-align: justify;
    color: #1A1A1A;
    margin-bottom: 100px;
}

@media (max-width: 768px) {
    .header-text {
        text-align: center;
    }
}

@media (max-width: 576px) {
    .header-text {
        font-size: 20px;
        line-height: 30px;
    }
}

/*__________section-1___________*/

.sec-1 {
    min-height: 899px;
}

.tile-s1 {
    font-family: 'MADE Evolve Sans', sans-serif;
    font-size: 31px;
    line-height: 36px;
    font-weight: 400;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    color: #1A1A1A;
    text-align: center;
    padding-top: 96px;
    margin-bottom: 99px;
}

.sec-1__box {
    width: 270px;
    height: 270px;
    border: 1px solid rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
    /* flex-basis: 55%; */
}

.s-1__img img {
    width: 66px;
    height: 66px;
    margin-bottom: 20px;
    margin-top: 80px;
}

.s-1__text {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #1A1A1A;
}

/*__________section-2___________*/

.sec-2 {
    background: url(../img/background/ofice_2.png) center/cover no-repeat fixed;
    ;
    min-height: 899px;
}

.tile-s2 {
    font-family: 'MADE Evolve Sans', sans-serif;
    font-size: 31px;
    line-height: 36px;
    font-weight: 400;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    color: #1A1A1A;
    text-align: center;
    padding-top: 213px;
    margin-bottom: 178px;
}

.sec-2__box {
    /* max-width: 300px; */
    min-height: 311px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.s-2__img {
    width: 117px;
    height: 117px;
    border: 6px solid #FF5641;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 44px;
}

.s-2__title {
    font-family: 'MADE Evolve Sans', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #1A1A1A;
    margin-bottom: 19px;
}

.s-2__text {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #1A1A1A;
    max-width: 300px;
}

/*__________section-3____________*/

.tile-s3 {
    font-family: 'MADE Evolve Sans', sans-serif;
    font-size: 31px;
    line-height: 36px;
    font-weight: 400;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    color: #1A1A1A;
    text-align: center;
    padding-top: 96px;
    margin-bottom: 87px;
}

.form-name input {
    background: #FFFFFF;
    border: 1px solid #C5D3DB;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 149%;
    /* width: 370px; */
    height: 40px;
    margin-right: 30px;
    padding-left: 10px;
    margin-bottom: 20px;
    width: 100%;
}

.form-mail input {
    background: #FFFFFF;
    border: 1px solid #C5D3DB;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 149%;
    /* width: 370px; */
    height: 40px;
    padding-left: 10px;
    margin-bottom: 20px;
    width: 100%;
}

textarea {
    background: #FFFFFF;
    border: 1px solid #C5D3DB;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 149%;
    padding-left: 10px;
    padding-top: 5px;
    /* width: 770px; */
    height: 230px;
    width: 100%;
}

.btm {
    display: flex;
    justify-content: center;
}

.btm button {
    width: 170px;
    height: 38px;
    background: linear-gradient(91.15deg, #FF5641 40.07%, #FF7039 100%);
    font-family: 'MADE Evolve Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    margin: 45px 0 44px 0;
}

.btm button:active {
    background: #6d3a0a;
}

/*__________footer-1___________*/

.footer {
    background: url(../img/background/siti.png) bottom fixed;
    min-height: 260px;
    display: flex;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
    position: relative;
}

.footer > a::after {
    content: url(../img/icon/svg/scrolling-foot.svg);
    width: 44px;
    height: 44px;
    background-color: #FF5641;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -86px;
    right: 15px;
}

.contacts, .contacts a, .contacts span {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #FFFFFF;
}

.map-foot {
    /* position: relative; */
    
}

.map-foot::before {
    content: url(../img/icon/svg/foot_map.svg);
    margin-right: 10px;
}

.tel-foot {
    position: relative;
}

.tel-foot::before {
    content: url(../img/icon/svg/foot_tel.svg);
    position: absolute;
    left: -30px;
}

.mail-foot {
    position: relative;
}

.mail-foot::before {
    content: url(../img/icon/svg/foot_mail.svg);
    position: absolute;
    left: -30px;
}

.site-foot {
    position: relative;
}

.site-foot::before {
    content: url(../img/icon/svg/foot_sait.svg);
    position: absolute;
    left: -30px;
}

.map-foot:hover, .tel-foot:hover, .mail-foot:hover, .site-foot:hover {
    text-decoration: underline
}

/*__________footer-2___________*/

.footer-2 {
    background-color: rgba(0, 0, 0, 0.76);
    margin-top: -30px;
}

.foot-2__main a {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.05em;
    color: #DCDCDC;
    padding: 8px 0 8px 0;
}

.foot-2__main a {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.05em;
    color: #DCDCDC;
    padding: 8px 0 8px 0;
}

.foot-2__main a:hover {
    text-decoration: underline
}

.foot-2__main a:active {
    color: l #FF7039;
}